*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: var(--body-color);
}
a{
  text-decoration: none;
  display: inline-block;
}
:root{
  --body-color: #f1f2f4;
  --primary-color: #032a5c;
  --secondary-color:#00193a;
  --main-color: #092143;
  --element-color:#FF504E;
  --hover-element: #fc0213;
}
/* Header Section Start Here */
.header-top{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.header-top p{
  font-size: 14px;
  color: #fff;
}
.top-social a{
 color: #fff;
 margin: 0 5px;
 font-size: 20px;
 cursor: pointer;
}
.logo{
  width: 250px;
}
.header-main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color);
}
.search-box{
  border: 1px solid black;
  border-radius: 20px;
}
.header-items img{
  width: 35px;
  height: 35px;
}
.header-main p{
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}
.header-bottom{
  background-color: var(--primary-color);
}
.header-menu-items{
  color: #fff;
  margin-right: 10px;
}
.mobile-search{
  display: none;
}

/* Header Section Ends Here */

/* Footer Section Start Here */
footer{
  background-color: var(--main-color);
  color: #fff;
  border-top: 1px solid #454b85;
}
.copyright{
  font-size: 14px;
}
.footer-menu{
  height: 300px;
}
.footer-menu p{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
#news-btn{
  background-color: var(--element-color);
}
#news-btn :hover{
  background-color: var(--hover-element);
}
/* Footer Section Ends Here */

/* Homepage Starts Here  */
.main-container{
  margin: 0 50px;
}
.main-banner{
  display: flex;
  align-items: center;justify-content: center;
  margin: 10px 0px;
  gap: 10px;
}
.banner img{
  height: 500px;
  height: auto;
  border-radius: 10px;
}
.banner-mini img{
  height: 170px;
  margin: 15px;
  border-radius: 10px;
}
.category-section{
  background-color: #fff;
  padding: 30px 10px;
}
.category-heading{
  font-size: 30px;
  font-weight: 800;
  /* text-align: center; */
  margin-bottom: 20px;
  margin-left: 40px;
}
.top-categories img{
  border-radius: 10px;
  height: 230px;
	transform: scale(1);
	transition: .2s ease-in-out;
  
}
.top-categories div :hover{
	transform: scale(1.1);
}
.top-categories h4{
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 30%;
  color: #fff;
}
.category-menu{
  background-color: #fff;
  padding: 30px 40px;
  margin: 10px 0;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  overflow: scroll;
}
.category-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.category-items img{
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.category-items span{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  width: 150px;
  text-align: center;
  
}
.category-menu::-webkit-scrollbar {
  display: none;
}
.quality-section img{
  width: 50px;
  height: 50px;
  align-items: center;
  margin-bottom: 10px;
}
.quality-section p{
  font-size: 18px;
  font-weight: 700;
}

.featured-collection h2{
  font-weight: 800;
}
.blog-card{
  padding: 30px;
}
.blog-card h2{
  font-weight: 800;
}


/* Home Page Section Ends Here */

/* Our Store Section Starts Here */
.category-filter li{
  cursor: pointer;
  margin-bottom: 8px;
}
.availablity {
  margin-bottom: 8px;
  font-size: 12px;
}
.availablity input{
  margin-right: 8px;
}
.availablity label{
  color: gray;
  font-size: 14px;
}
.price-filter input{
  border: 1px solid rgba(128, 128, 128, 0.332);
  width: 100px;
  padding: 6px 15px;
  border-radius: 6px;
}
.color-filter li{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FF504E;
  cursor: pointer;
}


/* Our Store Section Ends Here */

/* contact us section starts here  */

#contact{
  color: black;
}
/* contact us section ends here  */

/* blog page start here  */
.blogpage{
  justify-content: start!important;
}
/* wishlist section */

.wishlist-card{
  width: 200px;
  height: auto;
}
/* responsiver section */

@media only screen and (max-width: 1400px) and (min-width: 1150px){
  .main-banner{
    flex-direction: column;
  }
  .banner-mini{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .banner-mini img{
    height: 260px;
  }
  .category-items span{
    font-size: 12px;
    width: 120px;
    text-align: center;
  }
  .top-categories img{
    height: 180px;
  }
  .price-filter input{
    width: 60px;
    padding: 6px 12px;
  }
  .price-filter input::placeholder{
    font-size: 14px;
  }
  .contact-page iframe{
    width: 1080px;
  }
}
@media only screen and (max-width: 500px) and (min-width: 350px){
  .top-social{
    display: none;
  }
  .header-top{
    padding: 10px 20px;
    text-align: center;
  }
  .header-top p{
    font-size: 12px;
  }
  .order-number{
    padding: 0 5px!important;
    position: absolute;
    top: 0;
    left: 20px;
    background: transparent!important;
    color: #FF504E;
    font-weight: 800;
  }
  .main-search{
    display: none;
  }
  .header-items p{
    display: none;
  }
  .header-items{
    gap: 10px!important;
  }
  .header-items img{
    width: 25px;
  }
  .logo{
    width: 160px!important;
  }
  .header-bottom-menu{
    gap: 10px!important;
    font-size: 12px;
  }
  .mobile-search{
    display: block;
    background-color: var(--main-color);
  }
  .search-box{
    border-radius: 35px;
  }
  .footer-menu{
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  .footer-menu-items{
    width: 50%;
    margin-top: 20px;
  }
  .footer-menu-items .flex{
    gap: 8px;
  }
  .main-container{
    margin: 0 20px;
  }
  .blog-card{
    overflow: hidden;
  }
  .bottom-privacy-menu{
    display: none!important;
  }
  .top-categories{
    overflow: scroll;
    flex-wrap: wrap;
  }
  .category-menu{
    padding: 10px 20px;
  }
  .category-menu img{
    width: 50px;
    height: 50px;
  }
  .category-items span{
    width: 75px;
    font-size: 10px;
  }
  .category-section-items{
    width:40%;
  }
  .category-section-items img{
    height: 150px;
  }
  .category-section-items h4{
    font-size: 13px;
  }
  .featured-product{
    flex-wrap: wrap;
  }
  .quality-section{
    flex-wrap: wrap;
  }
  .quality-section img{
    width: 30px;
    margin-bottom: 5px;
  }
  .quality-section p{
    font-size: 14px;
  }
  .quality-section span{
    font-size: 12px;
  }
  .quality-items{
    width: 50%;
  }
  .blog-section{
    flex-wrap: wrap;
  }
  .best-selling{
    flex-wrap: wrap;
  }
  .main-banner{
    flex-direction: column;
  }
  .banner-mini{
    display: flex;
    gap: 10px;
  }
  .banner-mini img{
    height: 90px;
    margin: 0px;
  }
  .featured-collection h2{
    font-size: 24px;
  }
  .mini-banner-section{
    flex-wrap: wrap;
  }
  .mini-banner-items{
    /* flex-direction: column; */
    width: 45%!important;
  }
  .footer-second{
    flex-direction: column;
    height: 9rem!important;
  }
  .footer-second .top-social{
    display: block;
  }
  .blog-sidebar{
    display: none;
  }
  .blogpage{
    width: 100%!important;
  }
  .store-sidebar{
    display: none;
  }
  .recent-product{
    flex-wrap: wrap;
  }
  .recent-product :nth-child(5){
    display: none;
  }
  .product-card{
    width: 45%!important;
  }
  .product-card h5{
    font-size: 12px;
  }
  .product-card-second{
    width: 45%;
  }
  .product-card-second h5{
    font-size: 13px;
  }
  .best-selling :nth-child(5){
    display: none;
  }
  .blog{
    width: 45%;
  }
  .blog h5{
    font-size: 13px;
  }
  .blog p{
    font-size: 12px;
  }
  .blog-section{
    gap: 10px!important;
  }
  .store-products{
    width: 100%!important;
  }
  .contact-page iFrame{
    width: 100%;
    height: 150px;
  }
  .wishlist-card{
    width: 45%;
  }
  .single-blog{
    width: 100%!important;
  }
  .single-blog h1{
    font-size: 24px;
  }
  .single-blog-sidebar{
    display: none;
  }
  .blog-card{
    padding: 10px;
  }
  .my-cart{
    padding: 15px!important;
  }
  .single-product{
    padding: 10px 0px!important;
  }
}